@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
.header {
  background: #ffd001;
  padding: 2rem 0;
  height: 110px;
}

.header .logo {
  text-align: center;
  color: #222;
  font-size: 2.5rem;
  font-weight: 700;
}

.header .navbar {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 248, 33, 0.9)), to(rgba(255, 226, 4, 0.9)));
  background: linear-gradient(rgba(255, 248, 33, 0.9), rgba(255, 226, 4, 0.9));
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0) rotate(360deg);
          transform: scale(0) rotate(360deg);
  -webkit-clip-path: circle(58.9% at 50% 50%);
          clip-path: circle(58.9% at 50% 50%);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.header .navbar-items {
  opacity: 0;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}

.header .navbar-link {
  display: inline-block;
  color: #081132;
  padding-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  letter-spacing: 0.2rem;
}

.header .navbar-link:hover {
  padding-left: 1rem;
  color: #fff;
}

.header .hamburger {
  width: 60px;
  height: 5px;
  background: #222;
  border-radius: 20px;
  position: absolute;
  cursor: pointer;
  top: 60px;
  right: 20px;
  z-index: 2;
}

.header .hamburger:before, .header .hamburger:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 5px;
  background: #222;
  border-radius: 20px;
  top: 10px;
}

.header .hamburger:after {
  content: '';
  top: -10px;
  width: 60px;
}

.header .toggle-menu {
  display: none;
}

.header .toggle-menu:checked ~ .navbar {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header .toggle-menu:checked ~ .navbar > ul {
  opacity: 1;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.showcase {
  padding: 2rem;
  z-index: -1;
  background: #dfc534;
  height: 80vh;
}

.showcase-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: capitalize;
}

.showcase-subtitle {
  margin-top: 2rem;
  letter-spacing: 0.2rem;
}

.showcase-btn {
  display: inline-block;
  color: #222;
  border: 3px solid #222;
  border-radius: 20px;
  margin-top: 3rem;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.showcase-btn:hover {
  background: #222;
  color: #ffd001;
}

.footer {
  background: #ffd001;
  height: 130px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0 0;
  margin: 0 auto;
}

.footer-link {
  color: #222;
  font-size: 2rem;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.footer-link:hover {
  color: #fff;
}

.project {
  padding: 1rem;
  z-index: -1;
}

.project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project .card {
  max-width: 350px;
  height: 400px;
  text-align: center;
  margin: 1rem 0;
  overflow: hidden;
  border: 2px solid #ffd001;
}

.project .card-info {
  padding-top: 5rem;
  background: #ffd001;
  height: 100%;
  opacity: 1;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.project .card-sup {
  margin-bottom: 2rem;
}

.project .card-text {
  max-width: 350px;
  margin: 0 auto 1rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.project .card-link {
  color: #222;
  display: inline-block;
  padding: 0.8rem 2rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  border-radius: 20px;
  background: #dfc534;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.project .card-link:hover {
  background: #222;
  color: #ffd001;
}

.project .card-1,
.project .card-2,
.project .card-3 {
  border-radius: 20px;
}

.project .card-1 {
  background: url("../../img/intro.img.jpg") center/contain no-repeat;
}

.project .card-2 {
  background: url("../../img/showcase.jpg") center/cover no-repeat;
}

.project .card-3 {
  background: url("../../img/image-2.jpg") center/cover no-repeat;
}

.tools {
  width: 100%;
}

.tools-wrapper {
  background: #ffd001;
  margin-bottom: 5rem;
}

.tools-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.article {
  width: 280px;
  height: 350px;
  background: #fff;
  border-radius: 20px;
  margin: 2rem 0 1rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article i {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.article .html {
  color: orange;
}

.article .css {
  color: #277ebd;
}

.article .sass {
  color: #ff6881;
}

.article .js {
  color: #ffd001;
}

.blog {
  padding: 1rem 2rem 2rem;
  text-align: center;
}

.blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
  border: 3px solid #ffd001;
  border-radius: 20px;
  padding: 1rem;
}

.blog-sup {
  margin: 0.5rem 0;
}

.blog-text {
  max-width: 450px;
}

.blog-photo {
  display: block;
  width: 70%;
  margin: 2rem auto;
}

@media (min-width: 770px) {
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .hamburger {
    display: none;
  }
  .header .navbar {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .header .navbar {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: none;
    -webkit-clip-path: none;
            clip-path: none;
    height: inherit;
  }
  .header .navbar-items {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .navbar-link {
    padding-bottom: 0;
    margin-left: 1rem;
  }
  .header .navbar-link:hover {
    padding-left: 0;
  }
  .showcase {
    background: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.5))), url("../../img/bg-yellow.jpg") center/cover no-repeat;
    background: linear-gradient(to top right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../../img/bg-yellow.jpg") center/cover no-repeat;
    color: #fff;
  }
  .showcase-title {
    font-size: 2.7rem;
    font-weight: bolder;
  }
  .showcase-btn {
    border-color: #fff;
    color: #fff;
  }
  .showcase-btn:hover {
    background: #ffd001;
    color: #222;
  }
  .project-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 3rem;
  }
  .project-content .card {
    margin: 0 1rem;
  }
  .project-content .card-info {
    opacity: 0;
  }
  .project-content .card-info:hover {
    opacity: 1;
  }
  .blog {
    overflow-x: hidden;
  }
  .blog-photo {
    width: 75%;
  }
  .blog-container {
    border: none;
    border-radius: 0;
    padding: 0;
  }
  .container-1,
  .container-3,
  .container-5 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 4rem;
    position: relative;
  }
  .container-2,
  .container-4 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 4rem;
    position: relative;
  }
}

@media (min-width: 1140px) {
  .article {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 300px;
  }
}

@media (min-width: 1380px) {
  .container-1::before,
  .container-3::before,
  .container-5::before {
    content: '';
    position: absolute;
    top: 0;
    right: 170px;
    width: 1080px;
    height: 450px;
    z-index: -1;
    border: 5px solid #ffd001;
    -webkit-box-shadow: 3px 3px 20px #ffeea0;
            box-shadow: 3px 3px 20px #ffeea0;
  }
  .container-2::before,
  .container-4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 170px;
    width: 1080px;
    height: 450px;
    z-index: -1;
    border: 5px solid #ffd001;
    -webkit-box-shadow: 3px 3px 20px #ffeea0;
            box-shadow: 3px 3px 20px #ffeea0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  background: #fff;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 18px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
}

.title {
  text-align: center;
  margin-top: 5rem;
}

.bottom-line {
  width: 90px;
  height: 5px;
  border-radius: 20px;
  background: #ffd001;
  margin: 1rem auto 3rem;
}

.bottom-line-s {
  width: 50px;
  height: 5px;
  border-radius: 20px;
  background: #ffd001;
  margin: 0.5rem auto 2rem;
}

.divider {
  width: 100%;
  height: 10px;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#fce303), color-stop(#f0fc03), to(#fca903));
  background: linear-gradient(to right, #fce303, #f0fc03, #fca903);
}
/*# sourceMappingURL=main.css.map */