@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

@import './partial/config';
@import './partial/home';
@import './partial/project';
@import './partial/contact';
@import './partial/blog';
@import './partial/about';
@import './partial/desktop';
@import './partial/myblog';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  background: #fff;
}

// global style
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.9rem;
}
h3 {
  font-size: 1.6rem;
}
p {
  font-size: 18px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  height: 100%;
}
.title {
  text-align: center;
  margin-top: 3rem;
}

.bottom-line {
  width: 90px;
  height: 5px;
  border-radius: $border-radius-20;
  background: $yellow;
  margin: 1rem auto 3rem;
}
.bottom-line-s {
  width: 50px;
  height: 5px;
  border-radius: $border-radius-20;
  background: $yellow;
  margin: 0.5rem auto 2rem;
}
.divider {
  width: 100%;
  height: 10px;
  border-radius: 50px;
  background: linear-gradient(
    to right,
    rgb(252, 227, 3),
    rgb(240, 252, 3),
    rgb(252, 169, 3)
  );
}
.btn {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.8rem 1.6rem;
  color: $dark;
  background: $yellow;
  border: none;
  font-size: 1.1rem;
  letter-spacing: $letter-spacing;
  border-radius: $border-radius-20;
  border-bottom-right-radius: 0;
  cursor: pointer;
  transition: $transiton-f;
  &:hover {
    color: $yellow;
    background: $dark;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
  }
}
