.blog {
  padding: 1rem 2rem 2rem;
  text-align: center;
  &-content {
    @include flex-column;
  }
  &-container {
    @include flex-column;
    margin: 2rem 0;
    border: 3px solid $yellow;
    border-radius: $border-radius-20;
    padding: 1rem;
  }
  &-sup {
    margin: 0.5rem 0;
  }
  &-text {
    max-width: 450px;
  }
  &-photo {
    display: block;
    width: 70%;
    margin: 2rem auto;
  }
  &-btn {
    display: inline-block;
    margin: 2rem auto;
    border: 3px solid $yellow;
    padding: 0.7rem 1.6rem;
    color: $dark;
    letter-spacing: $letter-spacing;
    transition: $transiton-f;
    border-radius: $border-radius-20;
    border-bottom-right-radius: 0;
    &:hover {
      background: $yellow;
      opacity: 0.9;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 0;
    }
  }
}
