@media (min-width: 770px) {
  .header {
    @include flex-s-evenly;
    width: 100%;
    z-index: 999;
    .hamburger {
      display: none;
    }
    .navbar {
      transform: scale(1);
    }
    .navbar {
      transform: scale(1);
      background: none;
      clip-path: none;
      height: inherit;
      &-items {
        opacity: 1;
        @include flex-s-around;
      }
      &-link {
        padding-bottom: 0;
        margin-left: 1rem;
        &:hover {
          padding-left: 0;
        }
      }
    }
  }
  // showcase
  .showcase {
    background: linear-gradient(
        to top right,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.5)
      ),
      url('../../../img/bg-yellow.jpg') center/cover no-repeat;
    color: $white;
    &-title {
      font-size: 2.7rem;
      font-weight: bolder;
    }
    &-btn {
      border-color: $white;
      color: $white;
      &:hover {
        background: $yellow;
        color: $dark;
      }
    }
  }
  // project
  .project-content {
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    .card {
      margin: 0 1rem;
      &-info {
        opacity: 0;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  // blogs
  .blog {
    overflow-x: hidden;
    &-photo {
      width: 75%;
    }
    &-container {
      border: none;
      border-radius: 0;
      padding: 0;
    }
  }
  .container-1,
  .container-3,
  .container-5 {
    @include flex-row;
    margin-left: 4rem;
    position: relative;
  }
  .container-2,
  .container-4 {
    @include flex-row-reverse;
    margin-right: 4rem;
    position: relative;
  }
  // about section
  .about {
    &-content {
      @include flex-row;
      justify-content: space-evenly;
    }
  }
  .hobby {
    &-content {
      @include flex-row;
    }
    &-card:first-child {
      transform: rotate(15deg);
    }
    &-card:last-child {
      transform: rotate(-10deg);
    }
    margin-bottom: 3rem;
  }
  // contact
  .contact-content {
    @include flex-row;
    justify-content: space-evenly;
  }
  .contact-form {
    width: 50%;
  }
  .contact-info {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(-38deg) translateY(-60px) translateX(30px);
      width: 200px;
      height: 5px;
      border-radius: $border-radius-20;
      background: $yellow;
    }
  }
}

// project section
@media (min-width: 1140px) {
  .article {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 300px;
  }
}
// blog section
@media (min-width: 1380px) {
  .container-1::before,
  .container-3::before,
  .container-5::before {
    content: '';
    position: absolute;
    top: 0;
    right: 170px;
    width: 1080px;
    height: 450px;
    z-index: -1;
    border: 5px solid $yellow;
    box-shadow: 3px 3px 20px $lighter-yellow;
  }
  .container-2::before,
  .container-4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 170px;
    width: 1080px;
    height: 450px;
    z-index: -1;
    border: 5px solid $yellow;
    box-shadow: 3px 3px 20px $lighter-yellow;
  }
  // about
  .about-img-container {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      width: 380px;
      height: 380px;
      background: $yellow;
      box-shadow: 5px 5px 15px $lighter-yellow;
      border-radius: $border-radius;
      z-index: -1;
    }
  }
  .about-info {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      transform: rotate(-45deg) translateY(-70px);
      background: $yellow;
      z-index: -1;
      width: 200px;
      height: 5px;
      border-radius: $border-radius-20;
    }
  }
  // blog1
  .blog1-title {
    font-size: 1.8rem;
    max-width: 300px;
  }
}
