@media (min-width: 770px) {
  .header {
    &-content {
      @include flex-s-around;
    }
    .hamburger {
      display: none;
    }
    .navbar {
      transform: scale(1);
    }
    .navbar {
      transform: scale(1);
      background: none;
      clip-path: none;
      height: inherit;
      &-items {
        opacity: 1;
        @include flex-s-around;
      }
      &-link {
        padding-bottom: 0;
        margin-left: 1rem;
        &:hover {
          padding-left: 0;
        }
      }
    }
  }
  // showcase
  .showcase {
    background: linear-gradient(
        to top right,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.5)
      ),
      url('../../img/bg-yellow.jpg') center/cover no-repeat;
    color: $white;
    &-title {
      font-size: 2.7rem;
      font-weight: bolder;
    }
    &-btn {
      border-color: $white;
      color: $white;
      &:hover {
        background: $yellow;
        color: $dark;
      }
    }
  }
  // project
  .project-content {
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    .card {
      margin: 0 1rem;
      &-info {
        opacity: 0;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
@media (min-width: 1140px) {
  .article {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 300px;
  }
}
