.project {
  padding: 1rem;
  z-index: -1;
  &-content {
    @include flex-column;
  }
  .card {
    max-width: 350px;
    height: 400px;
    text-align: center;
    margin: 1rem 0;
    overflow: hidden;
    border: 2px solid $yellow;
    &-info {
      padding-top: 5rem;
      background: $yellow;
      height: 100%;
      opacity: 0;
      transition: $transiton-f;
      &:hover {
        opacity: 1;
      }
    }
    &-sup {
      margin-bottom: 2rem;
    }
    &-text {
      max-width: 350px;
      margin: 0 auto 1rem;
      font-size: 1.1rem;
      font-weight: 500;
    }
    &-link {
      color: $dark;
      display: inline-block;
      padding: 0.8rem 2rem;
      margin-top: 2rem;
      font-size: 1.2rem;
      letter-spacing: $letter-spacing;
      border-radius: $border-radius-20;
      background: $darker-yellow;
      transition: $transiton-f;
      &:hover {
        background: $dark;
        color: $yellow;
      }
    }
  }
  .card-1,
  .card-2,
  .card-3 {
    border-radius: $border-radius-20;
  }
  .card-1 {
    background: url('../../img/intro.img.jpg') center/contain no-repeat;
  }
  .card-2 {
    background: url('../../img/showcase.jpg') center/cover no-repeat;
  }
  .card-3 {
    background: url('../../img/image-2.jpg') center/cover no-repeat;
  }
}
// end of project section

// tools section
.tools {
  width: 100%;
  &-wrapper {
    background: $yellow;
    margin-bottom: 5rem;
  }
  &-content {
    @include flex-s-evenly;
    flex-wrap: wrap;
  }
}
.article {
  width: 280px;
  height: 350px;
  background: $white;
  border-radius: $border-radius-20;
  margin: 2rem 0 1rem;
  text-align: center;
  @include flex-column;
  i {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
  .html {
    color: orange;
  }
  .css {
    color: rgb(39, 126, 189);
  }
  .sass {
    color: rgb(255, 104, 129);
  }
  .js {
    color: $yellow;
  }
}
